<div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Personas</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>ID</th>
              <th>Cedula</th>
              <th>Nombre</th>
              <th>Fecha Nacimiento</th>
              <th>Direcion</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persona of personas" class="text-center">
              <td>{{persona.idpersona}}</td>
              <td>{{persona.cedula}}</td>
              <td>{{persona.nombre}}</td>
              <td>{{persona.fecha_nacimiento | date: 'dd/MM/yyyy'}}</td>
              <td>{{persona.direccion}}</td>
              <td>{{persona.telefono}}</td>
              <td>
                <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
                <button (click)="Delete(persona)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>